//COLORS
$color-blue-dk:#234B64;
$color-blue-md:#0092b5;
$color-blue-lt:#3ACCE1;
$color-blue-green-md:#00A7AD;
$color-grey-dk:#656363;
$color-grey-md:#C3C3C3;
$color-grey-lt:#efefef;
$color-white:#fff;
$color-black:#333333;
$color-red:#E33100;
$color-green-lt:#b8d30b;
$color-green-dk:#159105;
$color-yellow:#FFB900;
$color-orange-md:#FF6908;
$color-light-gray:#C3C3C3;
//GRID
$grid-width: 100%; //114rem or 1140px/10
$gutter-vertical:0rem;
$gutter-horizontal:0rem;

//FONTS
$font-size-default:1rem;

//MEDIA QUERIES
$break-small: 320px;
$break-medium: 1024px;
$break-large: 1365px;